<div *ngIf="isLoading">Loading....</div>

<div *ngIf="!isLoading" class="container mt-4">
  <form [formGroup]="projectForm" class="edit-form" (ngSubmit)="updateProject()">
    <div class="inp-row">
      <h2 class="title mb-3 text-center">Edit Project</h2>

      <div class="inp-field mb-3">
        <div class="inp">
          <label class="form-label">Project Name</label>
          <input type="text" class="form-control" formControlName="projectName" placeholder="Project name" required>
          <div *ngIf="projectForm.get('projectName')?.invalid && (projectForm.get('projectName')?.dirty || projectForm.get('projectName')?.touched)" class="error-message">
            <span *ngIf="projectForm.get('projectName')?.errors?.['required']">Project Name is required.</span>
          </div>
        </div>

        <div class="inp">
          <label class="form-label">Client</label>
          <input type="text" class="form-control" formControlName="client" placeholder="Client Name" required>
          <div *ngIf="projectForm.get('client')?.invalid && (projectForm.get('client')?.dirty || projectForm.get('client')?.touched)" class="error-message">
            <span *ngIf="projectForm.get('client')?.errors?.['required']">Client Name is required.</span>
          </div>
        </div>
      </div>

      <div class="inp-field mb-3">
        <div class="inp">
          <label class="form-label">Description</label>
          <input type="text" class="form-control" formControlName="description" placeholder="Description" required>
          <div *ngIf="projectForm.get('description')?.invalid && (projectForm.get('description')?.dirty || projectForm.get('description')?.touched)" class="error-message">
            <span *ngIf="projectForm.get('description')?.errors?.['required']">Description is required.</span>
          </div>
        </div>

        <div class="inp">
          <label class="form-label">Teams</label>
          <input type="text" class="form-control" formControlName="teams" placeholder="Teams" required>
          <div *ngIf="projectForm.get('teams')?.invalid && (projectForm.get('teams')?.dirty || projectForm.get('teams')?.touched)" class="error-message">
            <span *ngIf="projectForm.get('teams')?.errors?.['required']">Teams are required.</span>
          </div>
        </div>
      </div>

      <div class="inp-field mb-3">
        <div class="inp">
          <label class="form-label">Managers</label>
          <input type="text" class="form-control" formControlName="managers" placeholder="Managers" required>
          <div *ngIf="projectForm.get('managers')?.invalid && (projectForm.get('managers')?.dirty || projectForm.get('managers')?.touched)" class="error-message">
            <span *ngIf="projectForm.get('managers')?.errors?.['required']">Managers are required.</span>
          </div>
        </div>

        <div class="inp">
          <label class="form-label">Status</label>
          <input type="text" class="form-control" formControlName="status" placeholder="Status" required>
          <div *ngIf="projectForm.get('status')?.invalid && (projectForm.get('status')?.dirty || projectForm.get('status')?.touched)" class="error-message">
            <span *ngIf="projectForm.get('status')?.errors?.['required']">Status is required.</span>
          </div>
        </div>
      </div>

      <div class="inp-field mb-3">
        <div class="inp">
          <label class="form-label">Type</label>
          <input type="text" class="form-control" formControlName="type" placeholder="Type" required>
          <div *ngIf="projectForm.get('type')?.invalid && (projectForm.get('type')?.dirty || projectForm.get('type')?.touched)" class="error-message">
            <span *ngIf="projectForm.get('type')?.errors?.['required']">Type is required.</span>
          </div>
        </div>
      </div>

      <div class="text-end suv-btn">
        <button class="btn btn-maroon" type="submit">Update</button>
        <button class="btn btn-cancel" type="button" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
